  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head> 
<body>
    <center class="Heading"><h1>Welcome To About WebPage</h1></center>

   {{>navbar}}
    
    <center>
        <div class="  Box">
            <div class="BoxText">
            This is About.hbs and also</br>
            a default page for app.js
            </div>
        </div>
    </center>
    {{>footer}}
</body>
</html>