<center>
        <nav class="Nav">
            <a href="/" class="NavText"> Home &nbsp &nbsp &nbsp &nbsp;</a>
            <a href="/Weather" class="NavText">Weather &nbsp &nbsp &nbsp &nbsp;</a>
            <a href="/About" class="NavText"> About us &nbsp &nbsp &nbsp &nbsp;</a>
        </nav>
    </center>